* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  cursor: pointer;
}

.btn {
  font-size: 14px;
  line-height: 16px;
  font-family: "Roboto", sans-serif;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn-outlined {
  background: transparent;
}

.btn-primary {
  background: rgb(37, 110, 235);
  color: rgb(255, 255, 255);
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}

.header__container {
  padding: 30px 148px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
}

.header__logo--text {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: rgb(10, 20, 58);
}

.header__burger {
  width: 30px;
  height: 30px;
  display: none;
}

.search__container {
  padding: 0px 148px;
}

.search__group {
  background: rgb(37, 110, 235);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  border-radius: 5px;
}

.search__group input {
  flex-grow: 1;
  padding: 14px 22px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.search__group button {
  display: flex;
  align-items: center;
  gap: 2px;
}

.search__btn-text {
  color: white;
  font-size: 16px;
  line-height: 19px;
  display: flex;
}

.content__container {
  padding: 54px 148px 68px;
}

.content__group {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.content__main {
  flex-grow: 1;
}

.content__main-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 25px;
}

.content__main-list {
  display: flex;  
  gap: 30px;
  flex-wrap: wrap;
}

.content__main-list-item {
  width: calc((100% - 30px * 2) / 3);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  text-decoration: none;
}

.content__main-list-item:hover .content__main-list-item--title {
  color: rgb(37, 110, 235);
}

.content__main-list-item--img {
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  display: flex;

  img {
    width: 100%;
    object-fit: cover;
    display: block;
  }
}

.content__main-list-item--title {
  margin: 12px 0 5px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  color: rgb(10, 20, 58);
}

.content__main-list-item--price {
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  margin-bottom: 10px;
  color: rgb(10, 20, 58);
}

.content__main-list-item--descr {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.content__main-list-item--text {
  font-size: 14px;
  line-height: 16px;
  color: rgb(196, 196, 196);
}

.content__sidebar {
  width: 260px;
  min-width: 260px;
  display: flex;
  flex-direction: column;
}

.content__sidebar-title {
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  margin-bottom: 23px;
  color: rgb(10, 20, 58);
}

.content__sidebar-group {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content__sidebar--list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-bottom: 1px solid rgb(229, 229, 229);
  padding-bottom: 36px;
  margin-bottom: 36px;
}

.content__sidebar--list-item--title {
  margin: 7px 0 5px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.content__sidebar--list-item--text {
  font-size: 14px;
  line-height: 16px;
}

.content__sidebar-footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.content__sidebar-footer--item {
  color: rgb(196, 196, 196);
  font-size: 14px;
  line-height: 16px;
}

.content__product {
  display: flex;
  flex-grow: 1;
  gap: 30px;
}

.content__product-left,
.content__product-right {
  flex-basis: 50%;
}

.content__product-title,
.content__product-price {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 25px;
}

.content__product-image {
  width: 100%;
}

.content__product-text {
  font-size: 14px;
  line-height: 20px;
}

.btn-large {
  padding: 19px 72px;
}

@media (max-width: 1200px) {
  .header__container {
    padding: 25px 100px;
  }
  .search__container {
    padding: 0px 100px;
  }

  .content__container {
    padding: 54px 100px 68px;
  }

  .content__main-list-item {
    width: calc((100% - 30px) / 2);
  }
}

@media (max-width: 991px) {
  .content__group {
    flex-direction: column;
  }

  .content__main,
  .content__sidebar {
    width: 100%;
    min-width: none;
  }

  .content__product {
    flex-direction: column;
    width: 100%;
  }

  .content__product-left,
  .content__product-right {
    flex-basis: 100%;
    width: 100%;
  }
}

@media (max-width: 786px) {
  .header__container {
    padding: 25px 50px;
  }

  .header__controls {
    display: none;
  }

  .header__burger {
    display: block;
  }

  .search__container {
    padding: 0px 50px;
  }

  .search__btn-text {
    display: none;
  }

  .content__container {
    padding: 54px 50px 68px;
  }
}

@media (max-width: 480px) {
  .content__main-list-item {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .header__container {
    padding: 15px 25px;
  }

  .search__container {
    padding: 0px 25px;
  }

  .content__container {
    padding: 54px 25px 68px;
  }
}
